version: '3.8'
services:
  backend:
    image: houda0510/backend-ecommerce
    container_name: ecommerce-backend
    ports:
      - "8080:8080"
    networks:
      - ecommerce-network

  frontend:
    image: houda0510/frontend-ecommerce
    container_name: ecommerce-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge